<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.janrodriguez.picturethis" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".PictureThisApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.ReceivedActivity"
            android:label="@string/title_activity_received" >
        </activity>
        <activity
            android:name=".Activities.SentActivity"
            android:label="@string/title_activity_sent" >
        </activity>
        <activity
            android:name=".Activities.TestParcel"
            android:label="@string/title_activity_test_parcel" >
        </activity>
        <activity
            android:name=".Activities.GooglePlusBaseActivity"
            android:label="@string/title_activity_google_plus_base" >
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:label="@string/title_activity_login" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>
