<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.janrodriguez.picturethis" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission android:protectionLevel="signature"
        android:name="com.example.janrodriguez.picturethis.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.example.janrodriguez.picturethis.permission.C2D_MESSAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".PictureThisApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_pt_96dp"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC1Hr2VmBjN2jrGz_SKlsYh8kID_FOxnto" />

        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".Activities.ViewResponseActivity"
            android:label="@string/title_activity_received">
        </activity>
        <activity
            android:name=".Activities.ViewChallengeActivity"
            android:label="@string/title_activity_sent">
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activities.CreateChallengeActivity"
            android:label="@string/title_activity_create_challenge" >
        </activity>
        <activity
            android:name=".Activities.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>
        <activity
            android:name=".Activities.HistoryActivity"
            android:label="@string/title_activity_history" >
        </activity>
        <activity
            android:name=".Activities.ChallengeFeedActivity"
            android:label="@string/title_activity_challenge_feed" >
        </activity>

        <!--android:theme="@style/AppThemeNoActionBar">-->

        <service android:name="com.parse.PushService" />
        <receiver android:name="com.parse.ParseBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <!--
                  IMPORTANT: Change "com.parse.starter" to match your app's package name.
                -->
                <category android:name="com.example.janrodriguez.picturethis" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
